@using Capstone.Web.Models
@model List<SurveyPark>
<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container-fluid">
    @for (int i = 1; i < Model.Count; i++)
    {
        if (i % 2 != 0)
        {
            <div class="oddDiv">
                <table style="background-color: lightcyan; width: 100%">
                    <tr>
                        <td><img style="border-radius: 10px; width: 300px; float:left;" src="~/Content/@(Model[i].ParkCode).jpg" /></td>
                        <td>@Model[i].ParkName has received @Model[i].TotalSurveys survey(s). Thank you for your input!</td>
                    </tr>
                    <tr></tr>
                </table>
            </div>
        }
        else
        {
            <div class="evenDiv">
                <table style="background-color: lightgrey; width: 100%">
                    <tr>
                        <td><img style="border-radius: 10px; width: 300px; float:left" src="~/Content/@(Model[i].ParkCode).jpg" /></td>
                        <td>@Model[i].ParkName has received @Model[i].TotalSurveys survey(s). Thank you for your input!</td>

                </table>
            </div>
        }
    }
</div>